#image{
    width: 100%;
    height: 100%;
    margin: -0.6%;
    position:absolute;
}

#carretera1{
    width: 2.5%;
    position: absolute;
    rotate: 90deg;
    margin-top: 47.7vh;
    margin-left: 18.5vh;
}

#carretera2{
    width: 2.5%;
    position: absolute;
    rotate: 90deg;
    margin-top: 47.7vh;
    margin-left: 133vh;
}

#carretera3{
    width: 2.5%;
    position: absolute;
    margin-top: 72vh;
    margin-left: 172.5vh;
}

#carretera4{
    width: 2.5%;
    position: absolute;
    margin-top: 72vh;
    margin-left: 57.5vh;
}

#carretera5{
    width: 2.5%;
    position: absolute;
    rotate: 180deg;
    margin-top: 15.5vh;
    margin-left: 46vh;
}

#carretera6{
    width: 2.5%;
    position: absolute;
    rotate: 180deg;
    margin-top: 15.5vh;
    margin-left: 161vh;
}

#carretera7{
    width: 2.5%;
    position: absolute;
    margin-left: 172vh;
}

#carretera8{
    width: 2.5%;
    position: absolute;
    margin-left: 57.5vh;
}

#carretera9{
    width: 2.5%;
    position: absolute;
    rotate: 90deg;
    margin-top: 47.7vh;
    margin-left: 212vh;
}

#carretera10{
    width: 2.5%;
    position: absolute;
    rotate: 270deg;
    margin-top: 38.7vh;
    margin-left: 202vh;
}

#carretera11{
    width: 2.5%;
    position: absolute;
    rotate: 270deg;
    margin-top: 38.7vh;
    margin-left: 86vh;
}

#carretera12{
    width: 2.5%;
    position: absolute;
    rotate: 270deg;
    margin-top: 38.7vh;
    margin-left: 5vh;
}

#carretera13{
    width: 2.5%;
    position: absolute;
    rotate: 180deg;
    margin-top: 86vh;
    margin-left: 46.5vh;
}

#carretera14{
    width: 2.5%;
    position: absolute;
    rotate: 180deg;
    margin-top: 86vh;
    margin-left: 161vh;
}

#btn-semaforo1{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 40vh;
    margin-left: 29vh;
}

#img-btn1{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo2{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 51.8vh;
    margin-left: 29vh;
}

#img-btn2{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo3{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 40vh;
    margin-left: 68.7vh;
}

#img-btn3{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo4{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 51.8vh;
    margin-left: 68.7vh;
}

#img-btn4{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo5{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 40vh;
    margin-left: 143.2vh;
}

#img-btn5{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo6{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 51.8vh;
    margin-left: 143.2vh;
}

#img-btn6{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo7{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 40vh;
    margin-left: 184.5vh;
}

#img-btn7{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo8{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 51.8vh;
    margin-left: 184.5vh;
}

#img-btn8{
    width: 9vh;
    height: 4.5vh;
}

#btn-semaforo9{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 27.5vh;
    margin-left: 43vh;
}

#img-btn9{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo10{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 27.5vh;
    margin-left: 59.1vh;
}

#img-btn10{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo11{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 60vh;
    margin-left: 43vh;
}

#img-btn11{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo12{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 60vh;
    margin-left: 59.1vh;
}

#img-btn12{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo13{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 27.5vh;
    margin-left: 158vh;
}

#img-btn13{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo14{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 27.5vh;
    margin-left: 173.5vh;
}

#img-btn14{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo15{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 60vh;
    margin-left: 158vh;
}

#img-btn15{
    width: 4.5vh;
    height: 9vh;
}

#btn-semaforo16{
    position: absolute;
    background: none;
    border-color: transparent;
    cursor: pointer;
    margin-top: 60vh;
    margin-left: 173.5vh;
}

#img-btn16{
    width: 4.5vh;
    height: 9vh;
}